apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-nginx-deployment
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-nginx
  template:
    metadata:
      labels:
        app: my-nginx
    spec:
      containers:
      - name: my-nginx-container
        image: docker.io/ibrahimvis/ibm:test
        ports:
        - containerPort: 80

