name: Build, Push Docker Image, and Deploy to Kubernetes

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Build and Push Docker Image
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        IMAGE_TAG=$(echo $GITHUB_SHA | cut -c1-12)
        DOCKER_IMAGE=docker.io/ibrahimvis/ibm:${IMAGE_TAG}
        docker build -t $DOCKER_IMAGE .
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD docker.io
        docker push $DOCKER_IMAGE
        echo "::set-output name=image_tag::${IMAGE_TAG}"

    - name: Update Deployment YAML
      run: |
        awk -v new_tag="${{ steps.build-push-deploy.outputs.image_tag }}" '{gsub(/image: docker.io\/ibrahimvis\/ibm:.*/, "image: docker.io/ibrahimvis/ibm:" new_tag)}1' ./deployment.yaml > ./deployment_updated.yaml
        mv ./deployment_updated.yaml ./deployment.yaml

    - name: Commit and Push Updated Deployment YAML
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add deployment.yaml
        git commit -m "Update deployment.yaml with new image tag"
        git push

